.logo {
  margin-top: 100px;
  margin-bottom: 10px;
  height: 200px;
  color: purple;
  /* padding-bottom: 10px; */
}

.logoContainer {
  text-align: center;
  /* background-image: url('../images/puterbanner.bmp'); */
}
